<!DOCTYPE html>
<html>
<head>
  <title>PasswordAuthentication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, message| %>
  <div class="flash-message flash-message-<%=name %>">
    <%= message %>
  </div>
<% end %>
<% if current_user %>
  <p><%=current_user.email %></p>
  <%= link_to "logout", session_path(:session), data:{confirm: "you sure?"}%>
<%else%>
  <%=link_to "please login sir or ma'am", new_session_path %>
  <%end%>
<%= yield %>

</body>
</html>
